<!DOCTYPE html>
<html>

<head>
    <title>Hackthon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://google-translate1.p.rapidapi.com/language/translate/v2",
            "method": "POST",
            "headers": {
                "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                "x-rapidapi-key": "ca072ab588msh8b501d622df734fp153711jsn3f74cf018a34",
                "content-type": "application/x-www-form-urlencoded"
            },
            "data": {
                "source": "en",
                "q": "Contact Form | Name | Contact Number | Email",
                "target": ""
            }

        }



        $(document).ready(function() {

            $(".dropdown-item").click(function(e) {

                if ($(this).attr("tolang") != 'en') {

                    settings.data.target = $(this).attr("tolang");

                    fetchTranslation();

                    $('button').html($(this).html());

                } else {

                    updatePlaceholders(settings.data.q);

                    $('#langSel').html("Translate to");

                }

            });

        });

        function fetchTranslation() {

            $.ajax(settings).done(function(response) {

                console.log(response);

                var translatedText = response.data.translations[0].translatedText;

                updatePlaceholders(translatedText);


            });

        }

        function updatePlaceholders(updateString) {

            var comp = updateString.split('|')

            $('form > input').each(function(idx) {

                $(this).prop("placeholder", comp[idx + 1].trim());

            });

            $("#formHeading").html(comp[0]);

        }
    </script>

    <script>
        const text =
            "my med";
        const speech = window.speechSynthesis;

        const speakNow = () => {
            // Check if Speech Synthesis is supported
            if ("speechSynthesis" in window) {
                const msg = new SpeechSynthesisUtterance();
                const voices = speech.getVoices();
                msg.voice = voices[1];
                msg.lang = "en-US";
                msg.text = text;
                window.speechSynthesis.speak(msg);
            } else {
                // Speech Synthesis Not Supported
                alert("Sorry, your browser doesn't support text to speech!");
            }
        };

        document.getElementById("app").innerHTML = `
  <h1>Check this out!</h1>
  <div>
   ${text}
  </div>
  `;

        speakNow();
    </script>


    <style type="text/css">
        body {
            background-color: #2ecc71;
            font-family: source-sans-pro, sans-serif;
        }
        
        h1 {
            margin-left: auto;
            margin-top: 50px;
            text-align: center;
            font-weight: 100;
            font-size: 2.8em;
            color: #ffffff;
        }
        
        div {
            width: 500px;
            margin: auto;
        }
        
        .formStyle {
            background-color: #2ecc71;
            padding: 20px;
            width: 400px;
            margin-bottom: 20px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #ecf0f1;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            font-size: 1em;
            font-weight: 100;
            color: #ffffff;
        }
        
        .formButton {
            float: right;
            background-color: #ffffff;
            display: inline-block;
            color: #2ecc71;
            font-size: 28px;
            font-weight: 500;
            padding: 6px 24px;
            margin-top: 15px;
            margin-right: 60px;
            text-decoration: none;
        }
        
        .formButton:hover {
            background-color: #27ae60;
            color: #ffffff;
        }
        
        .formButton:active {
            position: relative;
            top: 3px;
        }
        
        .translate {
            margin-left: auto;
            margin-top: 50px;
            text-align: center;
            font-weight: 100;
            font-size: 2.8em;
            width: 50%;
        }
        
        .translate-option {
            width: 50%;
        }
        /*To remove the outline that appears on clicking the input textbox*/
        
        input:focus {
            outline: none;
        }
        /* To format the placeholder text color */
        
         ::-webkit-input-placeholder {
            color: #ecf0f1;
        }
        
         :-moz-placeholder {
            /* Firefox 18- */
            color: #ecf0f1;
        }
        
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #ecf0f1;
        }
        
         :-ms-input-placeholder {
            color: #ecf0f1;
        }
    </style>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <div class="btn-group dropright translate">
                    <button id="langSel" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Translate to
                    </button>
                    <div class="dropdown-menu translate-option">
                        <a class="dropdown-item" href="#" tolang="en">English</a>
                        <a class="dropdown-item" href="#" tolang="ar">عربي</a>
                        <a class="dropdown-item" href="#" tolang="ur">اردو</a>
                        <a class="dropdown-item" href="#" tolang="hi">भारतीय भाषा</a>
                        <!--هندي-->
                        <a class="dropdown-item" href="#" tolang="fa">فارسی</a>
                        <!--هندي-->
                        <a class="dropdown-item" href="#" tolang="tr">Türkçe</a>
                        <a class="dropdown-item" href="#" tolang="ru">Русский</a>
                        <!--الروسية-->
                        <a class="dropdown-item" href="#" tolang="zh-CN">中文</a>
                        <!--صيني-->
                        <a class="dropdown-item" href="#" tolang="fr">Française</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="id">bahasa Indonesia</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="tl">Filipino</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="it">italiana</a>
                        <!--ايطالي-->
                        <a class="dropdown-item" href="#" tolang="es">español</a>
                        <!--اسباني-->
                        <a class="dropdown-item" href="#" tolang="de">Deutsch</a>
                        <!--germany-->
                        <a class="dropdown-item" href="#" tolang="ms">Melayu</a>
                        <!--الملايوية-->
                        <a class="dropdown-item" href="#" tolang="bn">বাংলা</a>
                        <!--البنغالية-->
                        <a class="dropdown-item" href="#" tolang="ha">Hausa</a>
                        <!--الهوساوية-->
                        <a class="dropdown-item" href="#" tolang="ta">தமிழ்</a>
                        <!--تاميلية-->
                        <a class="dropdown-item" href="#" tolang="sw">kiswahili</a>
                        <!--سواحلية-->
                        <a class="dropdown-item" data-img_src="###.png" href="Untitled-1.html/page">صورة لغة الإشارة</a>

                    </div>
                </div>
                <h1 id="formHeading">
                    Contact Form
                </h1>
                <div>
                    <form action="">
                        <input type="text" name="ID" class="formStyle" placeholder="Name" required />
                        <input type="text" name="email" class="formStyle" placeholder="Contact No." required />
                        <input type="email" name="email" class="formStyle" placeholder="Email" required />
                    </form>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>


        <form>
            <input type="button" onclick="speakNow()" value="English voice">
        </form>


    </div>





</body>



</html>