<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Hackthon</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <div class="btn-group dropright translate">
                    <button id="langSel" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Translate to
                    </button>
                    <div class="dropdown-menu translate-option">
                        <a class="dropdown-item" href="#" tolang="en">English</a>
                        <a class="dropdown-item" href="#" tolang="ar">عربي</a>
                        <a class="dropdown-item" href="#" tolang="ur">اردو</a>
                        <a class="dropdown-item" href="#" tolang="hi">भारतीय भाषा</a>
                        <!--هندي-->
                        <a class="dropdown-item" href="#" tolang="fa">فارسی</a>
                        <!--هندي-->
                        <a class="dropdown-item" href="#" tolang="tr">Türkçe</a>
                        <a class="dropdown-item" href="#" tolang="ru">Русский</a>
                        <!--الروسية-->
                        <a class="dropdown-item" href="#" tolang="zh-CN">中文</a>
                        <!--صيني-->
                        <a class="dropdown-item" href="#" tolang="fr">Française</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="id">bahasa Indonesia</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="tl">Filipino</a>
                        <!--فرنسي-->
                        <a class="dropdown-item" href="#" tolang="it">italiana</a>
                        <!--ايطالي-->
                        <a class="dropdown-item" href="#" tolang="es">español</a>
                        <!--اسباني-->
                        <a class="dropdown-item" href="#" tolang="de">Deutsch</a>
                        <!--germany-->
                        <a class="dropdown-item" href="#" tolang="ms">Melayu</a>
                        <!--الملايوية-->
                        <a class="dropdown-item" href="#" tolang="bn">বাংলা</a>
                        <!--البنغالية-->
                        <a class="dropdown-item" href="#" tolang="ha">Hausa</a>
                        <!--الهوساوية-->
                        <a class="dropdown-item" href="#" tolang="ta">தமிழ்</a>
                        <!--تاميلية-->
                        <a class="dropdown-item" href="#" tolang="sw">kiswahili</a>
                        <!--سواحلية-->
                        <a class="dropdown-item" data-img_src="###.png" href="Untitled-1.html/page">صورة لغة الإشارة</a>

                    </div>
                </div>
                <h1 id="formHeading">
                    Contact Form
                </h1>
                <div>
                    <form acion="">
                        <input type="text" name="ID" class="formStyle" placeholder="Name" required />
                        <input type="text" name="email" class="formStyle" placeholder="Contact No." required />
                        <input type="email" name="email" class="formStyle" placeholder="Email" required />
                    </form>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>


        <form>
            <input type="button" onclick="speakNow()" value="English voice">
        </form>
    </div>
    <script src="/app.js">
    </script>
</body>

</html>