{% extends "base.njk" %}
{% block main %}
    <section id="page">
        <img src="/projectImages/{{ meal.image }}" alt="Meal 1" id="ImgMeal1"/>
        <div id="bestSand">
            <h1 id="bestSandwich">{{ meal.title }}</h1>
            <p>{{ meal.price }} SAR</p>
            {% if rating[0].rating %}
                <p>&#11088; {{ rating[0].rating }}</p>
            {% else %}
                <p>&#11088; 0</p>
            {% endif %}
            <p>
                {{ meal.description }}
            </p>
            <div style="float: right; ">
                <button class="button1" id="decrement">-</button>
                <button class="button1" id="counterResult">1</button>
                <button class="button1" id="increment">+</button>
                <a id="addToCart-button" href="/sales/cart?id={{ meal.id }}&back=/detail/{{ meal.id }}">add to cart</a>
            </div>
        </div>
        <button onclick="ShowDes()" class="btn" id="desBtn">
            <h2 id="description">
                description</h2>
        </button>
        <button onclick="ShowRev({{ meal.id }})" class="btn" id="revBtn">
            <h3>
                Reviews</h3>
        </button>
        <section id="des">
            <section id="des">
                <p>{{ meal.description }}</p>
            </section>
            <table id="table">
                <h4 id="tapleSec">nutrition facts</h4>
                <tr>
                    <td colspan="3">
                        <strong>Supplement Facts</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Serving Size:</strong>
                        {{ meal.nutrition.serving_size }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Serving Per Counter:</strong>
                        {{ meal.nutrition.serving_per_container }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>Amount Per Serving</strong>
                    </td>
                    <td>
                        <strong>%Daily Value*</strong>
                    </td>
                </tr>
                {% for info in meal.nutrition.facts %}
                    <tr>
                        <td>{{ info.item }}</td>
                        <td>{{ info.amount_per_serving }}
                            {{ info.unit }}</td>
                        <td>{{ info.daily_value }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        *Percent Daily Values are based on 2,000 calorie diet. Your daily values may be higher or lower depending on your
                        calorie needs
                    </td>
                </tr>
            </table>
        </section>
        <section id="Reviews" class="row" style="margin: 0; padding: 0; ">
            <section id="Testimonials" style="margin: 0; padding: 0; ">
                {% if reviews.length == 0 %}
                    <h1 style="color: balck; text-align: left;">No Reviews</h1>
                {% else %}
                    <h1 style="color: balck; text-align: left;">User Reviews</h1>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for i in range(reviews.length) %}
                                <li data-target="#myCarousel" data-slide-to={{ i }} class="active" style="background-color: #ffaa00"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% set i = 0 %}
                            {% for review in reviews %}
                                {% if i == 0 %}
                                    <div class="carousel-item active">
                                    {% else %}
                                        <div class="carousel-item">
                                        {% endif %}
                                        {% set i = i + 1 %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <img src="/images/{{ review.image }}" class="d-inline f-left w-100" alt="image"></div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 align-middle d-flex align-items-stretch">
                                                        <div class="all-reviews">
                                                            <h4>{{ review.reviewer_name }}</h4>
                                                            <h5>
                                                                {{ review.city }} - {{ review.date }}
                                                                {% for i in range(0, review.rating) %}
                                                                    &#11088
                                                                {% endfor %}
                                                            </h5>
                                                            <p>
                                                                {{ review.review }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                                    <span class="sr-only">Previous</span>
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
                                    <span class="sr-only">next</span>
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </section>
                    <div class="add-review">
                        <button id="add-review-btn" class="btn">add a review</button>
                        <form
                            class="review-form"
                            action="/{{ meal.id }}/reviews"
                            enctype="multipart/form-data"
                            method="POST"
                            onsubmit="return checkNoChar()">
                            <div>
                                <label for="upload-image">Image</label>
                                <br>
                                    <input id="upload-image" type="file" name="photo"/>
                                </div>
                                <div>
                                    <label>Rate the Food</label>
                                    <input name="rating" type="range" list="tickmarks" min="1" max="5" value="4"/>
                                    <input type="hidden" name="meal_id" value="{{ meal.id }}"/>
                                    <datalist id="tickmarks">
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                    </datalist>
                                </div>
                                <div>
                                    <label for="inputName">Name</label>
                                    <input name="reviewer_name" id="inputName" type="text" placeholder="First and Last Name" style="height: 20"/>
                                </div>
                                <div>
                                    <label for="inputName">City</label>
                                    <input name="city" id="inputName" type="text" placeholder="City" style="height: 20"/>
                                </div>
                                <div>
                                    <label for="inputReview">Review</label>
                                    <div id="warning" style="flex: left; color: red;"></div>
                                    <textarea
                                        name="review"
                                        id="inputReview"
                                        type="textarea"
                                        rows="8"
                                        cols="30"
                                        placeholder=" type your review here, max 500 characters"
                                        onkeyup="countChars(this)  ,checkMaxChar()"
                                        maxlength="500"
                                        style="padding-left: 1%;"></textarea>
                                    <p id="charNum">0/500</p>
                                </div>
                                <button type="submit" class="btn"  onclick="submitReview()">submit</button>
                            </form>
                        </div>
                    </section>
                {% endblock %}