{% extends "base.njk" %}
{% block main %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="container" style="text-align: center">


            </div>
        </div>


        <!--? Contact form Start -->
        <div class="contact-form-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="section-tittle section-tittle2">
                                    <h1 class="cd-headline letters scale title"> Create a
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Prescription</b>
                                            <b>Prescription</b>

                                        </strong>
                                    </h1>
                                </div>
                            </div>

                            <!--End Section Tittle  -->
                            <div id="contact-form" style="margin-bottom: 50px; padding-bottom: 30px">
                                <div class="col">
                                    <div id="signin">
                                        <div class="form-box mb-30 ">
                                            <input id=" doctor-user-name" class="input-field " type="text"
                                                name="username" placeholder="Enter Your User Name">
                                        </div>
                                        <div class="form-box mb-30">
                                            <input id="doctor-password" class="input-field" type="password"
                                                name="password" placeholder="Enter Your Password">
                                        </div>
                                        <a onClick="navigateToReceipt()" class="btn result-button">Sign In</a>
                                    </div>


                                    <form id="make-receipt" onSubmit="return false" action="/doctor/submit"
                                        method="POST" class="hide">

                                        <div class="row">
                                            <label for="receiptDate" class="doctor-field-title col-4">Date: </label>
                                            <div class="form-box user-icon mb-30 col-8">
                                                <input class="input-field" type="date" id="receiptDate" name="date"
                                                    placeholder="Date of the receipt">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="patientName" class="doctor-field-title col-4">Patient Name:
                                            </label>
                                            <div class="form-box mb-30 col-8">
                                                <input class="input-field" type="text" id="patientName"
                                                    name="patientName" placeholder="Patient Name">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="patientId" class="doctor-field-title col-4">ID:
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input class="input-field" type="text" name="patientId" id="patientId"
                                                    placeholder="ID of the patient">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="drugName" class="doctor-field-title col-4">Drug Name
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input class="input-field" type="text" name="drugName" id="drugName"
                                                    placeholder="The Name of the Drug">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="doctor-field-title col-4">Medicine Type:
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8" id="amountType"
                                                style="padding-top: 30px;">
                                                <input type="radio" name="amountType" value="capsules" id="capsules"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="capsules" class="radio-button">Capsules
                                                </label>
                                                <input type="radio" name="amountType" value="ml" id="syrup"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="syrup" class="radio-button ">Syrup
                                                </label>
                                                <input type="radio" name="amountType" value="cream" id="cream"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="cream" class="radio-button ">Cream/Gel
                                                </label>
                                            </div>
                                        </div>
                                        <div id="doseAmount" class="row hide">
                                            <label for="doseAmount" class="doctor-field-title col-4">Dose Amount
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8">
                                                <select id="amount" name="doseAmount" class="select"></select>
                                                <p style="display: inline"></p>
                                            </div>
                                        </div>
                                        <div id="takingMethod" class="row hide">
                                            <label class="doctor-field-title col-4">Taking Method:
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8" style="padding-top: 30px;">
                                                <input type="radio" name="takingMethod" value="oral" id="mouth"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="mouth" class="radio-button ">Oral
                                                </label>
                                                <input type="radio" name="takingMethod" value="specified" id="specified"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="specified" class="radio-button ">Specified
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="doctor-field-title col-4">Taking Times:
                                            </label>
                                            <div class="form-box mb-40 col-8" id="timeType" style="padding-top: 30px;">
                                                <input type="radio" name="timeType" value="specific" id="specific"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="specific" class="radio-button">Specific Times
                                                </label>
                                                <input type="radio" name="timeType" value="hours" id="hours"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="hours" class="radio-button ">Based on Hours
                                                </label>
                                                <input type="radio" name="timeType" value="whenNeeded" id="whenNeeded"
                                                    class="radio-design" style="height: 20px; width: 50px">
                                                <label for="whenNeeded" class="radio-button ">when is Needed
                                                </label>
                                            </div>
                                        </div>
                                        <div id="dosesTime" class="row hide">
                                            <label for="dosesNumberOfTimesSelect"
                                                class="doctor-field-title col-4 dosePerDay">
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8 dosePerDay">
                                                <select id="dosesNumberOfTimesSelect" name="dosesPerDay"
                                                    class="select"></select>
                                            </div>

                                            <label for="dosesTimeSelect"
                                                class="doctor-field-title col-4 specificTimesEnums">
                                            </label>

                                            <div class="form-box user-icon mb-40 col-8 specificTimesEnums">
                                                <select id="dosesTimeSelect" name="dosesTime" class="select"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="duration" class="doctor-field-title col-4">For how many
                                                days?
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <select name="duration" id="duration" class="select">
                                                    {% for i in range(30) %}
                                                    <option value={{i+1}}>{{i+1}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="comment" class="doctor-field-title col-4">Additional
                                                comments:
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input id="comment" class="input-field" type="text" name="comment"
                                                    placeholder="Enter your comment">
                                            </div>
                                        </div>
                                        <button onClick="submitReceipt()" class=" btn result-button translation center">
                                            Submit
                                            Prescription</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>
{% endblock %}