{% extends "base.njk" %}
{% block main %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="container" style="text-align: center">


            </div>
        </div>


        <!--? Contact form Start -->
        <div class="contact-form-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="section-tittle section-tittle2">
                                    <h1 class="cd-headline letters scale title"> Find Your
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Receipt</b>
                                            <b>Receipt</b>

                                        </strong>
                                    </h1>
                                </div>
                            </div>

                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST"
                                style="margin-bottom: 50px; padding-bottom: 30px">
                                <div class="col">
                                    <div id="signin">
                                        <div class="form-box mb-30">
                                            <input id="doctor-user-name" class="input-field" type="text" name="username"
                                                placeholder="Enter Your User Name">
                                        </div>
                                        <div class="form-box mb-30">
                                            <input id="doctor-password" class="input-field" type="password"
                                                name="password" placeholder="Enter Your Password">
                                        </div>
                                        <a onClick="navigateToReceipt()" class="btn result-button">Sign In</a>
                                    </div>

                                    <div id="make-receipt" class="hide">
                                        <div class="row-12">
                                            <div class="form-box user-icon mb-30">
                                                <input class="input-field" type="text" name="date"
                                                    placeholder="Date of the receipt" disabled value="Date().now">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box user-icon mb-30">
                                                <input class="input-field" type="text" name="patientName"
                                                    placeholder="Patient Name">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box user-icon mb-30">
                                                <input class="input-field" type="text" name="patientId"
                                                    placeholder="ID of the patient">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box user-icon mb-30">
                                                <input class="input-field" type="text" name="amountType"
                                                    placeholder="Medicine Type">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box user-icon mb-30">
                                                <input class="input-field" type="text" name="date"
                                                    placeholder="Date of the receipt">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box email-icon mb-30">
                                                <input class="input-field" type="text" name="email" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class='col-sm-6'>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $('#datetimepicker1').datetimepicker();
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div class="row-12 input-field">

                                            <select class="form-box mb-30" name="cars" id="cars">
                                                <option value="volvo">Volvo</option>
                                                <option value="saab">Saab</option>
                                                <option value="mercedes">Mercedes</option>
                                                <option value="audi">Audi</option>
                                            </select>

                                        </div>
                                        <div class="row-12">
                                            <div class="form-box subject-icon mb-30">
                                                <input class="input-field" type="Email" name="subject"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="row-12">
                                            <div class="form-box message-icon mb-30">
                                                <input type="textarea" rows="4" class="input-field" name="message"
                                                    id="message" placeholder="Message"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>
{% endblock %}