{% extends "base.njk" %}
{% block main %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="container" style="text-align: center">


            </div>
        </div>


        <!--? Contact form Start -->
        <div class="contact-form-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="section-tittle section-tittle2">
                                    <h1 class="cd-headline letters scale title"> Find Your
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Receipt</b>
                                            <b>Receipt</b>

                                        </strong>
                                    </h1>
                                </div>
                            </div>

                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST"
                                style="margin-bottom: 50px; padding-bottom: 30px">
                                <div class="col">
                                    <div id="signin">
                                        <div class="form-box mb-30 ">
                                            <input id=" doctor-user-name" class="input-field " type="text"
                                                name="username" placeholder="Enter Your User Name">
                                        </div>
                                        <div class="form-box mb-30">
                                            <input id="doctor-password" class="input-field" type="password"
                                                name="password" placeholder="Enter Your Password">
                                        </div>
                                        <a onClick="navigateToReceipt()" class="btn result-button">Sign In</a>
                                    </div>

                                    <div id="make-receipt" class="hide">

                                        <div class="row">
                                            <label for="username" class="doctor-field-title col-4">Date: </label>
                                            <div class="form-box user-icon mb-30 col-8">
                                                <input class="input-field" type="date" name="date"
                                                    placeholder="Date of the receipt">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="username" class="doctor-field-title col-4">Patient Name:
                                            </label>
                                            <div class="form-box mb-30 col-8">
                                                <input class="input-field " type="text" name="patientName"
                                                    placeholder="Patient Name">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="patientId" class="doctor-field-title col-4">ID:
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input class="input-field" type="text" name="patientId"
                                                    placeholder="ID of the patient">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="doctor-field-title col-4">Medicine Type:
                                            </label>
                                            <div class="form-box user-icon mb-40  col-8" id="amountType">
                                                <input type="radio" name="amountType" value="capsules"
                                                    class="radio-button " style="height: 20px; width: 50px">
                                                <label for="amountType" class="radio-button ">Capsules
                                                </label>
                                                <input type="radio" name="amountType" value="syrup"
                                                    class="radio-button " style="height: 20px; width: 50px">
                                                <label for="amountType" class="radio-button ">Syrup
                                                </label>
                                                <input type="radio" name="amountType" value="cream"
                                                    class="radio-button " style="height: 20px; width: 50px">
                                                <label for="amountType" class="radio-button ">Cream/Gel
                                                </label>
                                            </div>
                                        </div>
                                        <div id="doseAmount" class="row hide">
                                            <label for="doseAmount" class="doctor-field-title col-4">Dose Amount
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8">
                                                <select class="select"></select>
                                                <p style="display: inline"></p>
                                            </div>
                                        </div>
                                        <div id="takingMethod" class="row hide">
                                            <label class="doctor-field-title col-4">Taking Method:
                                            </label>
                                            <div class="form-box user-icon mb-40 col-8">
                                                <input type="radio" name="takingMethod" value="through the mouth"
                                                    class="radio-button " style="height: 20px; width: 50px">
                                                <label for="takingMethod" class="radio-button ">Mouth
                                                </label>
                                                <input type="radio" name="takingMethod" value="specified"
                                                    class="radio-button " style="height: 20px; width: 50px">
                                                <label for="takingMethod" class="radio-button ">Specified
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="patientId" class="doctor-field-title col-4">ID:
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input class="input-field" type="text" name="patientId"
                                                    placeholder="ID of the patient">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="patientId" class="doctor-field-title col-4">ID:
                                            </label>
                                            <div class="form-box user-icon mb-30  col-8">
                                                <input class="input-field" type="text" name="patientId"
                                                    placeholder="ID of the patient">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</main>
{% endblock %}