{% extends "base.njk" %}
{% block main %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="container" style="text-align: center">


            </div>
        </div>


        <!--? Contact form Start -->
        <div class="contact-form-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="section-tittle section-tittle2">
                                    <h1 class="cd-headline letters scale title"> Find Your
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Receipt</b>
                                            <b>Receipt</b>
                                        </strong>
                                    </h1>
                                </div>
                            </div>

                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST">
                                <div class="form-box mb-30">
                                    <input id="userId" class="input-field translation" type="text" name="name"
                                        placeholder="Enter Your ID">
                                </div>
                                <a onClick="showReceipt()" class="btn result-button translation center">Show</a>
                                <div class="col t-align" id="receipt-info">

                                    <!--    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">Date: </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">Patient name: </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">ID: </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">Instructions: <span>Take [# of capsules] capsules,
                                                    [Oral] taken through
                                                    the
                                                    mouth, [# of doses per day] times per day, for [# of days]
                                                    day/days.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">For how many days: </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">When is the dose taken: </p>
                                        </div>
                                    </div>
                                    <div class="row-12">
                                        <div class="form-box mb-30">
                                            <p class="translation">Additional comments: </p>
                                        </div>
                                    </div> -->

                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Contact form End -->

    <!--? department_area_start  -->
    <div class="department_area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <!-- Tabs Buttons -->
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">
                                    <i class="flaticon-teeth"></i>
                                    <h4>Dentistry</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">
                                    <i class="flaticon-cardiovascular"></i>
                                    <h4>Cardiology</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-ear"></i>
                                    <h4>ENT Specialists</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#Astrology" role="tab"
                                    aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-bone"></i>
                                    <h4>Astrology</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#Neuroanatomy"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-lung"></i>
                                    <h4>Neuroanatomy</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#Blood" role="tab"
                                    aria-controls="contact" aria-selected="false">
                                    <i class="flaticon-cell"></i>
                                    <h4>Blood Screening</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- depertment area end  -->

</main>
{% endblock %}
//be22973d11mshb2d2484c0dba20dp15577cjsn0115664a019a
//7722f20623msh48dc1112a2c24d8p11d475jsn112d7ec54334