{% extends "base.njk" %}
{% block main %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="container" style="text-align: center">


            </div>
        </div>


        <!--? Contact form Start -->
        <div class="contact-form-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="section-tittle section-tittle2">
                                    <h1 class="cd-headline letters scale title"> Find
                                        Your
                                        <strong class="cd-words-wrapper">
                                            <b class="is-visible">Receipt</b>
                                            <b>Receipt</b>
                                        </strong>
                                    </h1>
                                </div>
                            </div>

                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST"
                                style="margin-bottom: 50px; padding-bottom: 30px">
                                <div class="form-box mb-30">
                                    <input id="userId" class="input-field translation" type="text" name="name"
                                        placeholder="Enter Your ID">
                                </div>
                                <a onClick="showReceipt()" class="btn result-button translation center">Show</a>
                                <div class="col t-align" id="receipt-info">

                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}