#navigation > li > a {
  min-width: 200px;
  color: white;
}

#navigation > li {
  min-width: 200px;
  max-height: 40px;
  color: white;
}

.header-area .main-header .main-menu ul li a {
  padding: 10px;
  margin: 10px 30px;
}

.menu-main {
  padding: 10px 20px 30px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.input-field {
  font-weight: 300;
  font-size: 16px;
}

.language-position {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 50px;
  width: 80px;
}

.language-button {
  background-color: white;
  color: #1462f3;
  border: none;
  height: 50px;
  width: 80px;
}

.language-icon {
  font-size: 50px;
  cursor: pointer;
  background-image: linear-gradient(to left, #559af3, #1462f3, #559af3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.contact-form-main .form-tittle {
  padding: 40px 10px;
}

.contact-form-main #contact-form {
  padding: 10px 30px;
}

.align-right {
  text-align: right;
}

.result-button {
  width: 100%;
  color: white !important;
  height: 40px;
  background-color: white;
  padding: 6px;
}

.treatment-title {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #030431;
  width: 300px;
  display: inline;
}

.treatment-description {
  display: inline;
  font-size: 16px;
}

.center {
  text-align: center !important;
}

/* 
.baseline {
  display: flex;
  align-items: center;
} */

.doctor-field-title {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #030431;
  width: 300px;
  display: flex;
  align-items: center;
}

.select {
  font-size: 16px;
  color: grey;
  font-weight: 500;
  background-color: #f7fdff;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  border-color: #f7fdff;
  border-width: 2px;
  border-bottom-color: #e9f0f4;
}

.radio-button {
  color: grey;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.radio-design {
  display: none;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  background-image: linear-gradient(
    to left,
    rgb(20, 98, 243),
    rgb(85, 154, 243)
  );
  color: white;
}

.hide {
  display: none !important;
}
